.home-module-5 {
  background-size: cover;
  overflow: hidden;

  p {
    margin-bottom: 1em;
  }

  .bg-construction {
    &:after {
     background: url('../img/bg-construction.jpg') 0 0 no-repeat;
     background-size: cover;
     content: '';
     display: block;
     position: absolute;
     right: -25vw;
     height: 100%;
     width: 50vw;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    .col-md-6:first-child {
      padding: 3em 0;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    text-align: center;
    font-size: 31px;
    padding: 1em 0 0;

    h2 {
      font-size: 22px;
    }

    p.blurb {
      font-size: 18px;
    }

    p {
      line-height: 1.5;
      margin-bottom: 1em;
      color: #606060;
    }

    img {
      margin-top: 1em;
    }
  }
}