#home-module-7  {
  background: #33373F;
  color: $white;
  padding: 112px 0;

  h2 {
    color: $white;
    @include raleway();
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }

}