#home-module-2 {
  background: $sherpa-dark-color;
  color: $white;
  position: relative;
  padding: 33px 0;
  

  &::before {
      content: '';
      @include gradient();
      height: 3px;
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
  }

  h3 {
      color: $white;
  }

  svg {
    height: 44px;
    margin-right: 2em;
  }
}
