#home-module-3 {
  padding: 90px 0;
  text-align: left;

  h3 {
    font-size: 20px;
    text-align: left;
    color: #939393;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1em;
    margin-top: 3em;
  }

  .accordion-btn {
    background: $sherpa-dark-color;
    cursor: hand;
    cursor: pointer;
    text-align: center;

    h2 {
      color: $white;
      @include raleway();
      font-size: 23px;
      @include arrow();

    }
  }

  ul {
    padding-left: 0;
    text-align: left;
    margin-top: 2em;

    li {
      margin-bottom: .5em;
    }

    li span {
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      line-height: 1.5;
    }


    li::before {
      overflow: hidden;
      float: left;
      margin-right: .5em;
      color: $sherpa-brand-primary;
    }

    li span {
      overflow: hidden;
      display: block;
    }
  }
}