#home-module-4 {
  position: relative;
  text-align: left;
  background: #33373F;
  position: relative;
  z-index: 0;
  overflow: hidden;

  h2 {
    color: $white;
    z-index: 1;
    @include raleway();
    font-weight: 300;
    font-size: 26px;
  }

  .accordion-btn {
    cursor: hand;
    cursor: pointer;
  }

  .col-md-6:first-child {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    z-index: 99;
    padding-bottom: 4em;

    


  ul {
    padding-left: 0;
    text-align: left;
    margin-top: 2em;

    li {
      margin-bottom: .5em;
    }

    li span {
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      line-height: 1.5;
      color: $white;
    }


    li::before {
      overflow: hidden;
      float: left;
      margin-right: .25em;
      margin-top: .25em;
      color: $sherpa-brand-primary;
    }

    li span {
      overflow: hidden;
    }
  }

//     &::before {
//       width: 0;
//       height: 0;
//       border-style: solid;
//       border-width: 50vw 0 0 50vw;
//       border-color: transparent transparent transparent #33373f;
//       content: '';
//       position: absolute;
//       left: -25vw; 
//       z-index: -1;
//       bottom: 0;

//       @media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
//         left: -30px;
//       } 
//     } 
  } 

  
  .col-md-6:last-child {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
    z-index: 99;
  }

  background: transparent url('../img/bg-diag3.jpg') center 0 no-repeat;
  background-size: cover;

//   .col-md-6:last-child::after {
//     background: transparent url('../img/bg-diag.jpg') 0 0 no-repeat;
//     background-size: cover;
//     content: '';
//     display: block;
//     position: absolute;
//     right: 0;
//     width: 50vw;
//     top: 0;
//     height: 100%;
//     z-index: -1;
//   }

 

  .services-box {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(253,253,254,0.18) 26%, rgba(253,253,254,0.37) 100%);
    padding: 2em;
    @include dropshadow();
    

    h2 {
      color: $white;
      font-size: 21px;
      margin-left: 2em;
      font-weight: 400;
    }

    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;


      li {
        width: 50%;

        a {
          display: block;
          @include arrow(); 
          @include gradient-border();
          color: $white;
          margin: 2px;
          padding: 2.5em 1em;
          font-size: 12px;
          border: double 1px transparent;
          background-image: linear-gradient(#33373F, #33373F), radial-gradient(circle at top left, #3AB9F6,#8B17FF);

          &::after {
            right: 1em;
          }

          &:hover {
            background-image: linear-gradient($sherpa-brand-primary, $sherpa-brand-primary), radial-gradient(circle at top left, #3AB9F6,#8B17FF);
          }
        }
      } 
    }
  }

  @media screen and (min-width: $screen-md-min) {
    .services-box {
      max-width: 525px;
    }
  }

  @media screen and (max-width: $screen-sm-max) {

    .container {
      width: 100%;
      margin: 0 auto;
    }

    .col-md-6:first-child {
      &::before {
          content: " ";
          display: table;
      }
    }
    

    .col-md-6:last-child {
      background: url('../img/bg-city.jpg') 0 0 no-repeat;
      background-size: cover;
      padding: 0 0;

      h2 {
        display: none;
      }

      .services-box {
        background: transparent;
        padding: 55px 0;
        width: 100%;

        ul {
          display: flex;
          margin: 0 10px;
        }

        ul li {
          width: 33.33%;
          text-align: center;
          font-size: 12px;
          flex: 1;
          align-items: center;
          justify-content: center;
          display: flex;
          margin-bottom: 2px;


          a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            height: 114px;
          }


          a::after {
            display: none;
          }
        }
      }
    }
      

    .col-md-6:first-child {
      text-align: center;
      padding-bottom: 0;
      background: #33373F;

      ul {
        margin-bottom: 3em;
      }

      ul li {
        display: block;
      }

      .accordion-btn {
        margin: 0 auto;

        h2 {
          font-size: 19px;
        }
      }
    }
      
  }

}